

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
}

    #header * {
        transition: ease-in-out 0.3s;
    }

    #header h1 {
        font-size: 48px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
    }

        #header h1 a, #header h1 a:hover {
            color: #fff;
            line-height: 1;
            display: inline-block;
        }

    #header h2 {
        font-size: 24px;
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.8);
    }

        #header h2 span {
            color: #fff;
            border-bottom: 2px solid #1d8bc1;
            padding-bottom: 6px;
        }

    #header img {
        padding: 0;
        margin: 0;
    }

    #header .social-links {
        margin-top: 40px;
        display: flex;
    }

        #header .social-links a {
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.1);
            color: #fff;
            line-height: 1;
            margin-right: 8px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }

            #header .social-links a:hover {
                background: #1d8bc1;
            }

@media (max-width: 992px) {
    #header h1 {
        font-size: 36px;
    }

    #header h2 {
        font-size: 20px;
        line-height: 30px;
    }

    #header .social-links {
        margin-top: 15px;
    }

    #header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#bg_effect {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
    margin-top: 35px;
    position: relative;
    z-index: 1000;
}

    .nav-menu ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav-menu li + li {
        margin-left: 30px;
    }

    .nav-menu a {
        display: block;
        position: relative;
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        cursor: pointer;
    }

        .nav-menu a:before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -4px;
            left: 0;
            background-color: #1d8bc1;
            visibility: hidden;
            width: 0px;
            transition: all 0.3s ease-in-out 0s;
        }

        .nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
            visibility: visible;
            width: 60%;
        }

        .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
            color: #fff;
            text-decoration: none;
        }

/* Mobile Navigation */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

    .mobile-nav-toggle i {
        color: #fff;
    }

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.7);
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
    border: 2px solid rgba(255, 255, 255, 0.12);
}

    .mobile-nav * {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .mobile-nav a {
        display: block;
        position: relative;
        color: #fff;
        padding: 10px 20px;
        font-weight: 500;
        outline: none;
    }

        .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
            color: #1d8bc1;
            text-decoration: none;
        }

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(9, 9, 9, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

    .mobile-nav-active .mobile-nav {
        opacity: 1;
        visibility: visible;
    }

    .mobile-nav-active .mobile-nav-toggle i {
        color: #fff;
    }

/* Header Top */
#header.header-top {
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
}

    #header.header-top .social-links, #header.header-top h2 {
        display: none;
    }

    #header.header-top h1 {
        margin-right: auto;
        font-size: 36px;
    }

    #header.header-top .container {
        display: flex;
        align-items: center;
    }

    #header.header-top .nav-menu {
        margin: 0;
    }

@media (max-width: 768px) {
    #header.header-top {
        height: 60px;
    }

        #header.header-top h1 {
            font-size: 26px;
        }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 140px;
    bottom: 100%;
    opacity: 0;
    transition: ease-in-out 0.4s;
    z-index: 2;
}

    section.section-show {
        top: 100px;
        bottom: auto;
        opacity: 1;
        padding-bottom: 45px;
    }

    section .container {
        background: rgba(0, 0, 0, 0.9);
        padding: 30px;
    }

@media (max-width: 768px) {
    section {
        top: 120px;
    }

        section.section-show {
            top: 80px;
        }
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Roboto", sans-serif;
}

    .section-title h2::after {
        content: "";
        width: 120px;
        height: 1px;
        display: inline-block;
        background: #1d8bc1;
        margin: 4px 10px;
    }

.section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-me .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #1d8bc1;
}

.about-me .content ul {
    list-style: none;
    padding: 0;
}

    .about-me .content ul li {
        padding-bottom: 10px;
    }

    .about-me .content ul i {
        font-size: 20px;
        padding-right: 2px;
        color: #1d8bc1;
    }

.about-me .content p:last-child {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
    padding: 70px 0 60px;
}

    .counts .count-box {
        padding: 30px 30px 25px 30px;
        width: 100%;
        position: relative;
        text-align: center;
        background: rgba(255, 255, 255, 0.08);
    }

        .counts .count-box i {
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 24px;
            background: rgba(255, 255, 255, 0.1);
            padding: 12px;
            color: #1d8bc1;
            border-radius: 50px;
        }

        .counts .count-box span {
            font-size: 36px;
            display: block;
            font-weight: 600;
            color: #fff;
        }

        .counts .count-box p {
            padding: 0;
            margin: 0;
            font-family: "Raleway", sans-serif;
            font-size: 14px;
        }

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
    height: 50px;
    display: block;
    background: none;
}

    .skills .progress .skill {
        padding: 10px 0;
        margin: 0 0 6px 0;
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        color: #fff;
    }

        .skills .progress .skill .val {
            float: right;
            font-style: normal;
        }

.skills .progress-bar-wrap {
    background: rgba(255, 255, 255, 0.15);
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: .9s;
    background-color: #1d8bc1;
}

/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.08);
    transition: ease-in-out 0.3s;
}

    .interests .icon-box i {
        font-size: 32px;
        padding-right: 10px;
        line-height: 1;
    }

    .interests .icon-box h3 {
        font-weight: 700;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: 16px;
        color: #fff;
    }

    .interests .icon-box:hover {
        background: rgba(255, 255, 255, 0.12);
    }

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
    box-sizing: content-box;
    min-height: 320px;
}

    .testimonials .testimonial-item .testimonial-img {
        width: 90px;
        border-radius: 50%;
        margin: -40px 0 0 40px;
        position: relative;
        z-index: 2;
        border: 6px solid rgba(255, 255, 255, 0.12);
    }

    .testimonials .testimonial-item h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0 5px 45px;
        color: #fff;
    }

    .testimonials .testimonial-item h4 {
        font-size: 14px;
        color: #999;
        margin: 0 0 0 45px;
    }

    .testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
        color: rgba(255, 255, 255, 0.25);
        font-size: 26px;
    }

    .testimonials .testimonial-item .quote-icon-left {
        display: inline-block;
        left: -5px;
        position: relative;
    }

    .testimonials .testimonial-item .quote-icon-right {
        display: inline-block;
        right: -5px;
        position: relative;
        top: 10px;
    }

    .testimonials .testimonial-item p {
        font-style: italic;
        margin: 0 15px 0 15px;
        padding: 20px 20px 60px 20px;
        background: rgba(255, 255, 255, 0.1);
        position: relative;
        border-radius: 6px;
        position: relative;
        z-index: 1;
    }

.testimonials .owl-nav, .testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3) !important;
}

    .testimonials .owl-dot.active {
        background-color: #1d8bc1 !important;
    }

@media (max-width: 767px) {
    .testimonials {
        margin: 30px 10px;
    }
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

    .resume .resume-item h4 {
        line-height: 18px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        color: #1d8bc1;
        margin-bottom: 10px;
    }

    .resume .resume-item h5 {
        font-size: 16px;
        background: rgba(255, 255, 255, 0.15);
        padding: 5px 15px;
        display: inline-block;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .resume .resume-item ul {
        padding-left: 20px;
    }

        .resume .resume-item ul li {
            padding-bottom: 10px;
        }

    .resume .resume-item:last-child {
        padding-bottom: 0;
    }

    .resume .resume-item::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        left: -9px;
        top: 0;
        background: #1d8bc1;
        border: 2px solid #1d8bc1;
    }

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    text-align: center;
    background: rgba(204, 204, 204, 0.1);
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
}

    .services .icon-box .icon {
        margin: 0 auto;
        width: 64px;
        height: 64px;
        background: #1d8bc1;
        border-radius: 5px;
        transition: all .3s ease-out 0s;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        transform-style: preserve-3d;
    }

        .services .icon-box .icon i {
            color: #fff;
            font-size: 28px;
        }

        .services .icon-box .icon::before {
            position: absolute;
            content: '';
            left: -8px;
            top: -8px;
            height: 100%;
            width: 100%;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 5px;
            transition: all .3s ease-out 0s;
            transform: translateZ(-1px);
        }

    .services .icon-box h4 {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 24px;
    }

        .services .icon-box h4 a {
            color: #fff;
        }

    .services .icon-box p {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }

    .services .icon-box:hover {
        background: #1d8bc1;
        border-color: #1d8bc1;
    }

        .services .icon-box:hover .icon {
            background: #fff;
        }

            .services .icon-box:hover .icon i {
                color: #1d8bc1;
            }

            .services .icon-box:hover .icon::before {
                background: #35e888;
            }

        .services .icon-box:hover h4 a, .services .icon-box:hover p {
            color: #fff;
        }

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

#portfolio .main_title {
    margin-bottom: 80px;
}

@media (max-width: 1199px) {
    #portfolio .main_title  {
        margin-bottom: 40px
    }
}


#portfolio .main_title p.top_text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
    margin-bottom: 10px
}

#portfolio .main_title p.top_text span {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background: rgba(29, 139, 193, 0.6);
    filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    border-radius: 5px
}

#portfolio .main_title h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 0px;
    line-height: 52px;
    text-transform: capitalize
}

@media (max-width: 767px) {
    #portfolio .main_title h2 {
        font-size: 30px;
        line-height: 34px
    }
}

@media (max-width: 991px) {
   #portfolio  .main_title h2 br {
        display: none
    }
}
.portfolio_area .filters{margin-bottom:50px}
.portfolio_area .filters ul li {
    position:relative;
    display: inline-block;
    margin-right: 40px;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.portfolio_area .filters ul li:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #1d8bc1;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}
.portfolio_area .filters ul li:hover:before,  .portfolio_area .filters ul li.active:before {
    visibility: visible;
    width: 60%;
}



@media (max-width: 767px) {
    .portfolio_area .filters ul li {
        margin-right: 20px;
        margin-bottom:10px
    }
}

.single_portfolio {
    position: relative;
    margin-bottom: 30px;cursor:pointer;
}

@media (max-width: 767px) {
    .single_portfolio {
        margin-bottom: 35px
    }
} 
.single_portfolio .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s
}

.single_portfolio .short_info {
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s
}

.single_portfolio .short_info h4 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px
}

.single_portfolio .short_info h4 a {
    color: #ffffff
}

.single_portfolio .short_info p {
    margin-bottom: 0px
}

.single_portfolio:hover .overlay {
    top: 20px;
    left: 20px;
    background: rgba(29, 139, 193, 0.5)
}

.single_portfolio:hover .short_info {
    bottom: 24px;
    left: 60px;
    opacity: 1;
    visibility: visible
}

.portfolio_details_inner .row {
    margin-bottom: 35px
}

@media (max-width: 480px) {
    .portfolio_details_inner .row {
        margin-bottom: 30px
    }
}

.portfolio_details_inner p {
    margin-bottom: 30px;
    font-size: 14px
}

.portfolio_details_inner p:last-child {
    margin-bottom: 0px
}

.portfolio_details_inner .portfolio_right_text {
    padding: 30px;
    background: #f8faff;
    margin-top: 10px;color:#222
}

.portfolio_details_inner .portfolio_right_text h4 {
    font-size: 20px;
    text-transform: capitalize !important;
    margin-bottom: 10px
}

.portfolio_details_inner .portfolio_right_text p {
    margin-bottom: 25px;
    font-size: 14px
}

.portfolio_details_inner .portfolio_right_text .list li {
    margin-bottom: 7px;
    font-weight: normal;
    font-size: 14px
}

.portfolio_details_inner .portfolio_right_text .list li span { 
    color: #222;
    font-size: 16px;
    font-weight: 500;
    width: 97px;
    display: inline-block
}

.portfolio_details_inner .portfolio_right_text .list li:last-child {
    margin-bottom: 0px
}

.portfolio_details_inner .portfolio_right_text .list li i {
    color: #f1cd09
}
 
@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

.portfolio_details_inner .row {
    margin-bottom: 35px
}

@media (max-width: 480px) {
    .portfolio_details_inner .row {
        margin-bottom: 30px
    }
}

.portfolio_details_inner p {
    margin-bottom: 30px;
    font-size: 14px
}

.portfolio_details_inner p:last-child {
    margin-bottom: 0px
}

.portfolio_details_inner .portfolio_right_text {
    padding: 30px;
    background: #f8faff;
    margin-top: 10px
}

.portfolio_details_inner .portfolio_right_text h4 {
    font-size: 20px;
    text-transform: capitalize !important;
    margin-bottom: 10px
}

.portfolio_details_inner .portfolio_right_text p {
    margin-bottom: 25px;
    font-size: 14px
}

.portfolio_details_inner .portfolio_right_text .list li {
    margin-bottom: 7px;
    font-weight: normal;
    font-size: 14px
}

.portfolio_details_inner .portfolio_right_text .list li span {
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    width: 97px;
    display: inline-block
}

.portfolio_details_inner .portfolio_right_text .list li:last-child {
    margin-bottom: 0px
}

.portfolio_details_inner .portfolio_right_text .list li i {
    color: #f1cd09
}


.banner_area {
    position: relative;
    z-index: 1
}

@media (max-width: 1199px) {
    .banner_area {
        min-height: 350px
    }
}

.banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height:150px; 
    background-size: cover;
    z-index: 1
}

@media (max-width: 1199px) {
    .banner_area .banner_inner {
        min-height: 350px
    }
}

.banner_area .banner_inner .banner_content {
    margin-left: 50px;
    margin-top: 40px
}

@media (max-width: 991px) {
    .banner_area .banner_inner .banner_content {
        margin-left: 0px
    }
}

.swiper-button-prev, .swiper-button-next{color:#fff}
.banner_area .banner_inner .banner_content h2 {
    color: #fff;
    font-size: 45px; 
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700
}

@media (max-width: 991px) {
    .banner_area .banner_inner .banner_content h2 {
        font-size: 30px
    }
}

@media (max-width: 767px) {
   .swiper-wrapper{padding-bottom:50px}
    .swiper-button-prev, .swiper-button-next{    color: #fff;
    bottom: 0px;
    top: auto;}
    .swiper-button-prev{left:100px}
    .swiper-button-next{right:100px}
}


.banner_area .banner_inner .banner_content .page_link a {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff; 
    padding-left: 20px;
    padding-right: 8px;
    position: relative
}

.banner_area .banner_inner .banner_content .page_link a:before { 
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "|";
    position: absolute;
    right: -14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.banner_area .banner_inner .banner_content .page_link a:last-child {
    margin-right: 0px
}

.banner_area .banner_inner .banner_content .page_link a:last-child:before {
    display: none
}



.site-links li{font-size: 16px;line-height: 30px;display: list-item;list-style: disc;list-style-position: inside;}
.site-links a{line-height:30px;color:#fff;  ;display:inline-block;}
.site-links a:hover{color:#1d8bc1; }
.left_img{text-align:center}
.left_img img{max-height:440px;text-align:center;margin:0px auto}
.corp-list{margin-left:115px;margin-top:-22px}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
